/*Importação da fonte*/
@font-face {
    font-family: logo;
    src: url(../fonts/Horror.ttf);
}

/*Corpo da página*/
body{
    font-family: Arial, Helvetica, sans-serif;
}

/*Cabeçalho*/
header{
    background-color: black;
}

/*Logo*/
.container a > h1{
    font-family: logo;
    color: #fc1d25;
    font-size: 1.7em;
    padding: 2%;
    display: inline;
}

/*Links do menu*/
.navbar-dark .navbar-nav .nav-link:hover{
    background-color: #fc1d25;
    color: #fff;
}

/*Imagem de fundo*/
.fundo{
    width: 100%;
    height: 30vh;
    background-color: #fc1d25;
    background: url(../img/fundo.jpg) no-repeat center center;
    padding-top: 2%;
    background-size: cover;
    filter: grayscale(100%) brightness(35%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(1.2);
}

/*Data de publicação*/
#publicacao{
    color: #fff;
    font-size: 1.2em;
    margin: 2% 0 2% 0;
}

/*Tipografia*/

/*Subtítulo*/
div h2{
    color: #fff;
    font-size: 2.5em;
    font-weight: bolder;
    text-align: center;
    margin: 2% 0 3% 0;
}

/*Subtítulo de h2*/
div h3{
    color: #fff;
    font-size: 2.5em;
    font-weight: bold;
    text-align: left;
    margin: 2% 0 3% 0;
}

/*Parágrafo*/
p{
    font-size: 1.5em;
    color: #fff;
    text-align: justify;
    margin: 3% 0 3% 0;
}

/*Imagens*/
img{
    margin: 10px 0 10px 0;
}

/*Legenda das imagens do carousel*/
.carousel-caption p{
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 1em;
    display: inline;
    padding: 3px;
    color: #fff;
}

/*Seção de introdução*/
.introducao, .extras{
    background-color: #000;
    padding: 2%;
    border-top: 10px solid #222;
    border-bottom: 10px solid #222;
}

/*Seção de extras*/
.extras .card{
    background-color: #fc1d25;
}

/*Rodapé*/
#rodape{
    background-color: #000;
    padding: 2%;
}

#rodape div h1{
    font-family: logo;
    color: #fc1d25;
    text-align: center;
}

#rodape div a{
    color: #fc1d25;

}

#rodape div a:hover{
    color: #fd0911;
}

/*Media queries*/
@media (min-width: 1200px) {
    .fundo{
        width: 100%;
        height: 60vh;
        background-color: #fc1d25;
        background: url(../img/fundo.jpg) no-repeat center center;
        padding-top: 2%;
        background-size: cover;
        filter: grayscale(100%) brightness(35%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(1.2); 
    }

    div h2{
        text-align: left;
    }
}



